*{
  box-sizing: border-box;
}

body{
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  min-width: 325px;
  background: #282D35;
}

.logo-react {
  width: 1.75rem;
  animation: rotate 4s linear infinite;
}

.header{
  display: flex;
  color: #61DAFB;
  justify-content: space-between;
  align-items: center;
  background: #21222A;
  padding: 1rem;
}

.logogroup{
  display: flex;
}

.heading{
  margin-left: 0.4rem;
  font-weight: 700;
  color: #61DAFB;
  
}

.header-right{
  color: #DEEBF8;
  font-size: 0.8rem;
}

.main-content{
  padding: 1rem;
  color: #FFFF;
  background-image: url(../src/assets/reactjs-icon\ 2.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}


/* Rotating Logo */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}